 <div class="user-details">
  <h1> Mi experiencia </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Especialidad 1</h2>
      <i class="fa-light fa-bed-pulse"></i>
      <i class="fa-solid fa-hand-holding-medical"></i>
      <i class="fa-solid fa-prescription-bottle-medical"></i>
      <p>Esto es un texto de ejemplo XXXXXXXXXXX,YYYYYYYYYYYYY</p>
    </div>
    <div class="tech">
      <h2>Especialidad 2</h2>
      <i class="fa-solid fa-user-doctor-hair"></i>
      <i class="fa-solid fa-user-doctor-hair-long"></i>
      <i class="fa-solid fa-user-nurse"></i>
      <p>Esto es un texto de ejemplo XXXXXXXXXXX,YYYYYYYYYYYYY</p>
    </div>
    <div class="tech">
      <h2>Especialidad 3</h2>
      <i class="fa-solid fa-crutch"></i>
      <i class="fa-solid fa-face-head-bandage"></i>
      <i class="fa-solid fa-face-vomit"></i>
      <p>Esto es un texto de ejemplo XXXXXXXXXXX,YYYYYYYYYYYYY</p>
    </div>   
</div>
