<script src="https://kit.fontawesome.com/ed83835817.js" crossorigin="anonymous"></script> 
<!-- <div class="user-details">
  <h1> Title </h1>
  <p> {{site.user_description}} </p> 
</div> -->
  <div class="user">
    <div class="tech"> 
      <h1>Servicios</h1>
      <i class="fa-solid fa-briefcase-medical"></i>
      <p>Consulta general adultos y niños, suturas, aplicación de sueros intravenosas, medicamentos intramusculares e intravenosos, curaciones,  lavados de oído, retiro de implante subdérmico, toma de glucosa instantánea , valoración de estudios de laboratorio y gabinete.</p>
    </div>
   <!--<div class="tech">
      <h2>Especialidad 2</h2>
      <i class="fa-solid fa-bed-pulse fa-beat-fade" style="--fa-beat-fade-opacity: 0.67; --fa-beat-fade-scale: 1.075;" ></i>
      <p>Esto es un texto de ejemplo XXXXXXXXXXX,YYYYYYYYYYYYY</p>
    </div>
    <div class="tech">
      <h2>Especialidad 3</h2>
      <i class="fa-solid fa-crutch fa-beat-fade" style="--fa-beat-fade-opacity: 0.67; --fa-beat-fade-scale: 1.075;" ></i>
      <p>Esto es un texto de ejemplo XXXXXXXXXXX,YYYYYYYYYYYYY</p>
    </div>  -->
  </div>




<!-- Cal floating-popup embed code begins -->
<script type="text/javascript">
(function (C, A, L) { let p = function (a, ar) { a.q.push(ar); }; let d = C.document; C.Cal = C.Cal || function () { let cal = C.Cal; let ar = arguments; if (!cal.loaded) { cal.ns = {}; cal.q = cal.q || []; d.head.appendChild(d.createElement("script")).src = A; cal.loaded = true; } if (ar[0] === L) { const api = function () { p(api, arguments); }; const namespace = ar[1]; api.q = api.q || []; typeof namespace === "string" ? (cal.ns[namespace] = api) && p(api, ar) : p(cal, ar); return; } p(cal, ar); }; })(window, "https://app.cal.com/embed/embed.js", "init");
Cal("init", {origin:"https://app.cal.com"});

Cal("floatingButton", {"calLink":"arsova/ejemplo","buttonText":"Agendar"});
Cal("ui", {"styles":{"branding":{"brandColor":"#000000"}}});
</script>
<!-- Cal floating-popup embed code ends -->
