<script src="https://kit.fontawesome.com/ed83835817.js" crossorigin="anonymous"></script> 
<div class="user-details">
  <h1> Mi experiencia </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Especialidad 1</h2>
      <i class="fa-solid fa-briefcase-medical"></i>
      <p>Esto es un texto de ejemplo XXXXXXXXXXX,YYYYYYYYYYYYY</p>
    </div>
    <div class="tech">
      <h2>Especialidad 2</h2>
      <i class="fa-solid fa-user-doctor-hair-long"></i>
      <p>Esto es un texto de ejemplo XXXXXXXXXXX,YYYYYYYYYYYYY</p>
    </div>
    <div class="tech">
      <h2>Especialidad 3</h2>
      <i class="fa-solid fa-crutch"></i>
      <p>Esto es un texto de ejemplo XXXXXXXXXXX,YYYYYYYYYYYYY</p>
    </div>   
</div>
